.gp--jobTrace {
  flex-basis: 100%;

  height: 400px;
  overflow: scroll;
}

.gp--jobTrace pre {
  color: white;
  background: #222;
}

.gp-pipelineViewButton {
  font-weight: bold;
}

/**

OVERRIDES

**/

.mr-state-widget .ci-widget {
  flex-wrap: wrap;
}
