.gp--JobTraceView {
  flex-basis: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.4) inset;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);

  overflow: scroll;
  background: #202020;
  resize: vertical;

  &.inactive { display: none }

  pre {
    font-size: 11px;
    color: #ccc;
    overflow: visible;
    background: none;
    border: none;

    padding-bottom: 2em;
  }

  .gp--JobTraceClose {
    position: absolute;
    right: 2em;
    padding: 0.5em 1em;
    z-index: 3;
    display: inline-block;
    font-size: 16px;
    text-align: center;

    text-shadow: 0 1px 0 rgb(155, 69, 69, 0.5);
    font-weight: bold;
    color: #ddd;
    background: #333;
    border-radius: 0 0 0 4px;
    cursor: pointer;
    text-transform: lowercase;

    &:hover {
      transition: 0.25s ease;
      background: #444;
      color: #fff;
    }
  }

  .gp--JobTrace {
    height: 600px;
    overflow: visible;
  }
}


.gp--OpenPipelineButton {
  font-weight: bold;
  position: absolute;
  top: 8px;
  border: 1px solid #ccc;
  border-radius: 24px;
  right: 40px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: rgb(109, 152, 207);

  cursor: pointer;
  background-color: #fff;

  &:hover { background-color: transparent }

  &::before {
    content: '•';
    position: relative;
    top: -1px;
  }
}

/**

OVERRIDES

**/

.mini-pipeline-graph-dropdown-menu {
  width: 270px;
  max-width: 270px;
}

.mr-state-widget .ci-widget {
  flex-wrap: wrap;
}
